:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}
:host ::slotted(sdx-select-option) {
  border-top: none;
  border-bottom: none;
}
:host .wrapper {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
:host .wrapper .title {
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

:host(.top) .wrapper {
  border-top: none;
}

:host(.bottom) .wrapper {
  border-bottom: none;
}