@import "stylesheets/sdx/variables/colors";

:host {
  button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;

    &:hover, &:focus {
      color: $color-int-blue--active;
    }
  }
}

