:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: flex;
  border: 1px solid #d6d6d6;
  height: 48px;
  cursor: pointer;
  color: #333;
}
:host .component {
  height: 100%;
  width: 100%;
}
:host .component .option {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  max-width: 100%;
}

:host(:hover:not(.disabled)), :host(.focus:not(.disabled)) {
  background-color: #eef3f6;
}

:host(.selected:not(.multiple)) {
  border-color: #1781e3;
  background-color: #1781e3;
  color: #fff;
}

:host(.selected:not(.multiple):hover), :host(.selected.focus:not(.multiple)) {
  border-color: #0851da;
  background-color: #0851da;
}

:host(.top) {
  border-top: none;
}

:host(.bottom) {
  border-bottom: none;
}

:host(.disabled) {
  cursor: not-allowed;
  color: #d6d6d6;
}