:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  padding: 24px 0;
  text-align: center;
  display: inline-block;
  min-width: 240px;
  outline: none;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) {
  :host {
    padding: 32px 0;
  }
}
:host .info-content {
  padding-bottom: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-size: 10px;
  font-weight: 400;
}

:host(.hide-steps-label) .info-content {
  display: none;
}
:host(.hide-steps-label) .left-arrow, :host(.hide-steps-label) .right-arrow {
  top: -5px;
}
@media (min-width: 768px) {
  :host(.hide-steps-label) .left-arrow, :host(.hide-steps-label) .right-arrow {
    top: 3px;
  }
}

:host(.hide-arrows) .left-arrow, :host(.hide-arrows) .right-arrow {
  display: none;
}

:host .left-arrow, :host .right-arrow {
  top: 33px;
}
@media (min-width: 768px) {
  :host .left-arrow, :host .right-arrow {
    top: 41px;
  }
}

.left-arrow, .right-arrow {
  position: absolute;
  height: 80px;
  cursor: pointer;
}
.left-arrow .arrow, .right-arrow .arrow {
  position: relative;
  transform: rotate(90deg);
  top: calc(50% - 16px);
  height: 20px;
  width: 20px;
  transition: background 200ms cubic-bezier(0.4, 0, 0.6, 1);
}
.left-arrow .arrow::before, .left-arrow .arrow::after, .right-arrow .arrow::before, .right-arrow .arrow::after {
  position: absolute;
  top: 50%;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
  background: #1781e3;
  width: 20px;
  height: 3px;
  backface-visibility: hidden;
  content: "";
}
.left-arrow .arrow::before, .right-arrow .arrow::before {
  left: 0;
}
.left-arrow .arrow::after, .right-arrow .arrow::after {
  left: 15px;
}

.left-arrow.arrow--hidden, .right-arrow.arrow--hidden {
  cursor: default;
}
.left-arrow.arrow--hidden .arrow, .right-arrow.arrow--hidden .arrow {
  display: none;
}

.left-arrow:hover .arrow::before, .left-arrow:hover .arrow::after, .right-arrow:hover .arrow::before, .right-arrow:hover .arrow::after {
  background: #0851da;
}

.left-arrow {
  left: 0;
  background: linear-gradient(to right, white 0%, white 30%, rgba(255, 255, 255, 0) 100%);
}
.left-arrow .arrow::before {
  transform: rotate(45deg);
}
.left-arrow .arrow::after {
  transform: rotate(-45deg);
}

.right-arrow {
  right: 0;
  background: linear-gradient(to left, white 0%, white 30%, rgba(255, 255, 255, 0) 100%);
}
.right-arrow .arrow {
  float: right;
}
.right-arrow .arrow::before {
  transform: rotate(-45deg);
}
.right-arrow .arrow::after {
  transform: rotate(45deg);
}

.left-arrow .arrow::before, .right-arrow .arrow::before {
  left: 1px;
}

.left-arrow .arrow::after, .right-arrow .arrow::after {
  left: 14px;
}