:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
  width: 100%;
}

.component.ellipsis .slot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}