:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: inline-block;
}

:host(.inline) {
  display: inline-block;
  margin-right: 27px;
}

.component {
  display: flex;
  flex-flow: column;
}
.component ::slotted([slot=description]) {
  display: block;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 37px;
  color: #666;
}
.component > label {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  padding-left: 37px;
  color: #333;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}
.component > label > input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.component > label > input + .sdx-icon::before {
  content: "";
  position: absolute;
  margin-left: -37px;
  margin-top: 1px;
}

.component.checkbox > label:hover > input + .sdx-icon sdx-icon {
  color: #adadad;
  transform: scale(0.5) translateZ(0);
}
.component.checkbox > label:hover > input:checked + .sdx-icon::before {
  border: 2px solid #0851da;
}
.component.checkbox > label:hover > input:checked + .sdx-icon sdx-icon {
  color: #1781e3;
}
.component.checkbox > label > input + .sdx-icon::before {
  border: 2px solid #adadad;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.component.checkbox > label > input + .sdx-icon sdx-icon {
  position: absolute;
  margin-left: -34px;
  color: #adadad;
  transform: scale(0) translateZ(0);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 50% 50%;
}
.component.checkbox > label > input:focus + .sdx-icon::before {
  border: 2px solid #1781e3;
}
.component.checkbox > label > input:checked + .sdx-icon::before {
  border: 2px solid #1781e3;
}
.component.checkbox > label > input:checked + .sdx-icon sdx-icon {
  color: #1781e3;
  transform: scale(1) translateZ(0);
}
.component.checkbox > label.disabled > label > input + .sdx-icon::after, .component.checkbox > label.disabled > label > input + .sdx-icon::before {
  filter: inherit;
}
.component.checkbox > label.disabled > label > input + .sdx-icon::after {
  transform: scale(0) translateZ(0);
}
.component.checkbox > label.disabled > label > input:checked + .sdx-icon::after {
  transform: scale(1) translateZ(0);
}

.component.radio > label:hover > input + .sdx-icon::after {
  transform: scale(0.5) translateZ(0);
}
.component.radio > label:hover > input:checked + .sdx-icon::before {
  border: 2px solid #0851da;
}
.component.radio > label:hover > input:checked + .sdx-icon::after {
  border: 5px solid #0851da;
  transform: scale(1) translateZ(0);
}
.component.radio > label > input + .sdx-icon::before {
  border: 2px solid #adadad;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: border color 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.component.radio > label > input + .sdx-icon::after {
  content: "";
  position: absolute;
  margin-left: -31px;
  margin-top: 7px;
  border: 5px solid #adadad;
  border-radius: 50%;
  transform: scale(0) translateZ(0);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 50% 50%;
}
.component.radio > label > input:focus + .sdx-icon::before {
  border: 2px solid #1781e3;
}
.component.radio > label > input:checked + .sdx-icon::before {
  border: 2px solid #1781e3;
}
.component.radio > label > input:checked + .sdx-icon::after {
  border: 5px solid #1781e3;
  transform: scale(1) translateZ(0);
}
.component.radio.disabled > label > input + .sdx-icon sdx-icon,
.component.radio.disabled > label > input + .sdx-icon::before {
  filter: inherit;
}
.component.radio.disabled > label > input + .sdx-icon sdx-icon {
  transform: scale(0) translateZ(0);
}
.component.radio.disabled > label > input:checked + .sdx-icon sdx-icon {
  transform: scale(1) translateZ(0);
}

.component.disabled ::slotted([slot=description]) {
  opacity: 0.4;
}
.component.disabled > label {
  opacity: 0.4;
  pointer-events: none;
  filter: alpha(opacity=40);
}