:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: none;
}

:host([hover=true]) {
  position: relative;
}
:host([hover=true])::before, :host([hover=true])::after {
  position: absolute;
  top: 50%;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  background: #0851da;
  width: 10px;
  height: 2px;
  backface-visibility: hidden;
  content: "";
}
:host([hover=true])::before {
  left: 0;
}
:host([hover=true])::after {
  left: 6px;
}

:host([arrow-position=right]),
:host([arrow-position=left]),
:host([arrow-position=center]) {
  position: relative;
  top: 4px;
  left: 0;
  width: 35px;
  height: 16px;
  -webkit-transform: scale(0.68);
  transform: scale(0.68);
  pointer-events: none;
  transform-origin: 50% 50%;
}
:host([arrow-position=right])::before, :host([arrow-position=right])::after,
:host([arrow-position=left])::before,
:host([arrow-position=left])::after,
:host([arrow-position=center])::before,
:host([arrow-position=center])::after {
  position: absolute;
  top: 50%;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
  background: #1781e3;
  width: 20px;
  height: 3px;
  backface-visibility: hidden;
  content: "";
}
:host([arrow-position=right])::before,
:host([arrow-position=left])::before,
:host([arrow-position=center])::before {
  left: 0;
}
:host([arrow-position=right])::after,
:host([arrow-position=left])::after,
:host([arrow-position=center])::after {
  left: 15px;
}
:host([arrow-position=right])::before,
:host([arrow-position=left])::before,
:host([arrow-position=center])::before {
  transform: rotate(35deg);
}
:host([arrow-position=right])::after,
:host([arrow-position=left])::after,
:host([arrow-position=center])::after {
  transform: rotate(-35deg);
}

:host([hover=true][arrow-position=right]),
:host([hover=true][arrow-position=left]),
:host([hover=true][arrow-position=center]) {
  position: relative;
}
:host([hover=true][arrow-position=right])::before, :host([hover=true][arrow-position=right])::after,
:host([hover=true][arrow-position=left])::before,
:host([hover=true][arrow-position=left])::after,
:host([hover=true][arrow-position=center])::before,
:host([hover=true][arrow-position=center])::after {
  position: absolute;
  top: 50%;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
  background: #0851da;
  width: 20px;
  height: 3px;
  backface-visibility: hidden;
  content: "";
}
:host([hover=true][arrow-position=right])::before,
:host([hover=true][arrow-position=left])::before,
:host([hover=true][arrow-position=center])::before {
  left: 0;
}
:host([hover=true][arrow-position=right])::after,
:host([hover=true][arrow-position=left])::after,
:host([hover=true][arrow-position=center])::after {
  left: 15px;
}

:host([direction=up][arrow-position=right])::before,
:host([direction=up][arrow-position=left])::before,
:host([direction=up][arrow-position=center])::before {
  transform: rotate(-35deg);
}
:host([direction=up][arrow-position=right])::after,
:host([direction=up][arrow-position=left])::after,
:host([direction=up][arrow-position=center])::after {
  transform: rotate(35deg);
}

:host([arrow-position=right]) {
  display: inline-block;
  float: right;
}

:host([arrow-position=left]) {
  display: inline-block;
  float: left;
}

:host([arrow-position=center]) {
  display: table;
  margin: -13px auto 0 auto;
  float: none;
}