version: 2.1

workflows:
  version: 2
  build-workflow:
    jobs:
    - build:
        filters:
          branches:
            ignore:
            - master

jobs:
  build:
    docker:
    # primary image for building app
    - image: cimg/go:1.22-node

    # service images available at `host: localhost`
    - image: circleci/postgres:12-alpine
      environment:
        POSTGRES_USER: dev-user
        POSTGRES_PASSWORD: dev-secret
        POSTGRES_DB: my_postgres_db

    - image: circleci/mysql:5.7
      environment:
        MYSQL_DATABASE: mysql
        MYSQL_ROOT_PASSWORD: my-secret-pw

    - image: circleci/mongo:4.4
      environment:
        MONGO_INITDB_ROOT_USERNAME: mongoadmin
        MONGO_INITDB_ROOT_PASSWORD: super-secret

    - image: circleci/redis:5.0

    steps:
    - checkout

    # unit tests
    - run: make test

    # build binary
    - run: make build
    - run:
        name: install binary
        command: |
          chmod +x /home/circleci/project/backman
          sudo cp /home/circleci/project/backman /usr/local/bin/backman
          sudo chmod +x /usr/local/bin/backman

    # minIO server
    - run:
        name: run minIO server
        command: |
          wget https://dl.min.io/server/minio/release/linux-amd64/minio -qO minio
          chmod +x minio
          sudo mv minio /usr/local/bin/minio
          minio server /tmp/data
        background: true
        environment:
          MINIO_UPDATE: 'off'
          MINIO_ACCESS_KEY: 6d611e2d-330b-4e52-a27c-59064d6e8a62
          MINIO_SECRET_KEY: eW9sbywgeW91IGhhdmUganVzdCBiZWVuIHRyb2xsZWQh

    # killall
    - run:
        name: install killall
        command: |
          sudo apt-get update
          sudo apt-get -y install psmisc

    # jq
    - run:
        name: install jq
        command: |
          wget https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64 -qO jq
          chmod +x jq
          sudo mv jq /usr/local/bin/jq

    - run:
        name: install Postgres client v17
        command: |
          sudo sh -c 'echo "deb https://apt.postgresql.org/pub/repos/apt jammy-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo apt-get update
          sudo apt-get -y install postgresql-client-17
    - run: make postgres-test

    - run:
        name: install MongoDB client v7
        command: |
          curl -fsSL https://www.mongodb.org/static/pgp/server-7.0.asc | sudo gpg -o /usr/share/keyrings/mongodb-server-7.0.gpg --dearmor && \
          sudo echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-7.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse" | \
          sudo tee /etc/apt/sources.list.d/mongodb-org-7.0.list
          sudo apt-get update
          sudo apt-get install -y mongodb-database-tools=100.9.0 mongodb-org-tools=7.0.7 mongodb-org-shell=7.0.7 mongodb-mongosh=2.2.2
    - run: make mongodb-test

    # redis integration tests
    - run:
        name: install Redis client
        command: sudo apt install -y redis-tools
    - run: make redis-test

    # mysql integration tests
    - run:
        name: install MySQL client
        command: sudo apt install -y mariadb-client
    - run: make mysql-test
