@import "stylesheets/sdx/variables/global";
@import "stylesheets/sdx/variables/colors";
@import "stylesheets/sdx/variables/sizes";
@import "stylesheets/sdx/variables/typography";
@import "stylesheets/sdx/mixins/typography";
@import "stylesheets/sdx/utilities/screenreaders";

$buttons: (
  primary: (
    button-color: $color-button-primary,
    button-color--active: $color-button-primary--active,
    color: $color-white,
    text-opacity: .6
  ),
  secondary: (
    button-color: $color-button-secondary,
    button-color--active: $color-button-secondary--active,
    color: $color-gray,
    text-opacity: .4
  ),
  confirm: (
    button-color: $color-button-confirm,
    button-color--active: $color-button-confirm--active,
    color: $color-white,
    text-opacity: .6
  ),
  transparent: (
    button-color: transparent,
    button-color--active: transparent,
    color: $color-gray,
    text-opacity: .6
  )
);

@mixin button($settings) {
  $button-color: map-get($settings, button-color);
  $color: map-get($settings, color);
  $disabled-button-color: rgba($button-color, .4);
  $disabled-color: rgba($color, map-get($settings, text-opacity));
  border-color: $button-color;
  background-color: $button-color;
  color: $color;

  // Hover, Focus, Active styles
  // -------------------------

  &:hover,
  &:focus,
  &:active {
    border-color: map-get($settings, button-color--active);
    background-color: map-get($settings, button-color--active);
    color: $color;
  }

  // Disabled styles
  // -------------------------

  &.disabled,
  &:disabled {
    border-color: $disabled-button-color;
    background-color: $disabled-button-color;
    color: $disabled-color;
  }
}

// Button Normal
// --------------------------------------------------

button {
  @include font-sans;
  line-height: 24px;
  letter-spacing: -.1px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  transition: all 70ms $button-easing;
  margin: 0;
  outline: none;
  border: 0;
  border-bottom-style: none;
  border-radius: $button-border-radius;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0;
  transform-origin: 50% 50%;
  user-select: none;

  // Active styles
  // -------------------------

  &:active {
    transform: scale(.98);
  }

  &:hover,
  &:focus,
  &:active {
    border: 0;
    border-bottom-style: none;
  }

  // Disabled styles
  // -------------------------

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  @include button(map-get($buttons, primary));
}

:host {
  display: block;
}

// Button Styles
// --------------------------------------------------

:host(.primary) {
  button {
    @include button(map-get($buttons, primary));
  }
}

:host(.secondary) {
  button {
    @include button(map-get($buttons, secondary));
  }
}

:host(.confirm) {
  button {
    @include button(map-get($buttons, confirm));
  }
}

:host(.transparent) {
  button {
    @include button(map-get($buttons, transparent));
    &:focus, &:active, &:hover {
      color: $color-int-blue--active;
    }
    &:active {
      transform: scale(1);
    }
  }
}

// Button Sizes
// --------------------------------------------------

:host(.standard) {
  button {
    min-width: 160px;
    padding: $button-padding-vertical $button-padding-horizontal;
  }
}

:host(.icon) {
  button {
    width: 48px;
    height: 48px;
    padding: 12px;
  }
}

:host(.transparent) {
  button {
    min-width: auto;
    padding: 0;
    margin: 0;
  }
}
