{{ template "_header.html" . }}

<div class="row flex-items-md-center margin-top-4">
	<div class="col-xs col-md-8 col-lg-6 col-xl-4 margin-bottom-4">
		<div class="card card--dark card--notification card--blue" role="region">
			<div class="card__header">
				<span class="align-right">Service Instance</span>
			</div>
			<div class="table table--responsive table--highlight">
				<h3 class="table__title">
					{{ .Service.Name }}
				</h3>
				<div class="table__wrapper">
					<table data-init="auto">
						<tbody>
							<tr>
								<td><strong>Type</strong></td>
								<td>
									<a class="link" href="/services/{{ .Service.Label }}">
										<img class="link" src="/images/svgs/{{ ToLower (ServiceType .Service.Label).String }}.svg" width="32px" height="32px" /><br/>
										<p>{{ ServiceType .Service.Label }}</p>
									</a>
								</td>
							</tr>
							<tr>
								<td><strong>Plan</strong></td>
								<td>{{ .Service.Plan }}</td>
							</tr>
							<tr>
								<td><strong>Schedule</strong></td>
								<td>{{ .Service.Schedule }}</td>
							</tr>
							<tr>
								<td><strong>Retention</strong></td>
								<td>{{ .Service.Retention.Days }} days<br/>{{ .Service.Retention.Files }} files</td>
							</tr>
							<tr>
								<td><strong>Timeout</strong></td>
								<td>{{ Duration .Service.Timeout }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row ">
				<div class="col-xs col-md col-lg col-xl">
					<div id="spinner" class="loader-spinner loader-spinner--large loader-spinner--plain"><span class="sr-only">Loading. Please wait.</span></div>
				</div>
				<div class="col-xs-10 col-md-10 col-lg-10 col-xl-10">
					<div class="button-group button-group--responsive">
						<button id="trigger" class="button button__icon button--primary button--full margin-h-3" onclick="triggerBackup();">
							<i class="icon icon-save" aria-hidden="true"></i>
							Trigger Backup
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-auto">&nbsp;</div>
	<div class="col-xs">
		<div class="table table--responsive table--highlight">
			<h3 class="table__title">
				Backups
			</h3>
			<div class="table__wrapper">
				<table id="backups" data-init="auto">
					<thead>
						<tr>
							<th>#</th>
							<th>Filename</th>
							<th>Size</th>
							<th>Last Modified</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(file, index) in files">
							<td><small>${ index+1 }</small></td>
							<td><a class="link" v-bind:href="'/api/v1/backup/'+file.Filepath+'/'+file.Filename+'/download'">${ file.Filename }</a></td>
							<td>${ file.Size }</td>
							<td>${ file.LastModified }</td>
							<td>
								<div class="toolbar" id="toolbar01">
									<button class="toolbar__item item--show padding-v-0" aria-label="Download" v-on:click="location.href='/api/v1/backup/'+file.Filepath+'/'+file.Filename+'/download'">
										<i class="icon icon-024-download-cloud" aria-hidden="true"></i>
										<span class="toolbar__label"><small>Download</small></span>
									</button>
									<button class="toolbar__item item--show padding-v-0 restore-button" aria-label="Restore" v-on:click="showRestoreDialog(file.Filename)">
										<i class="icon icon-delivery-2" aria-hidden="true"></i>
										<span class="toolbar__label"><small>Restore</small></span>
									</button>
									<button class="toolbar__item item--show padding-v-0 delete-button" aria-label="Delete" v-on:click="showDeleteDialog(file.Filename)">
										<i class="icon icon-008-bin" aria-hidden="true"></i>
										<span class="toolbar__label"><small>Delete</small></span>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="restoreModalDialog" ref="restoreModalDialog" role="dialog" tabindex="-1" data-init="auto">
	<div class="container">
		<div class="modal__content col-xs col-md-10 col-lg-8 col-xl-6">
			<div class="modal__header">
				<h1>Would you like to restore this backup?</h1>
				<button class="modal__close modal-cancel" aria-label="Close"><i class="icon icon-022-close" aria-hidden="true"></i></button>
			</div>
			<div class="modal__body">
				<p>Do you really want to restore <strong id="restoreFilename">filename.tar.gz</strong> to <i>{{ .Service.Name }}</i>?</p>
				<div class="button-group button-group--responsive">
					<button class="button button--responsive button--primary modal-close" onclick="triggerRestore();">Yes, restore it</button>
					<button class="button button--responsive button--secondary modal-cancel">No, never mind</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="deleteModalDialog" ref="deleteModalDialog" role="dialog" tabindex="-1" data-init="auto">
	<div class="container">
		<div class="modal__content col-xs col-md-10 col-lg-8 col-xl-6">
			<div class="modal__header">
				<h1>Would you like to delete this backup?</h1>
				<button class="modal__close modal-cancel" aria-label="Close"><i class="icon icon-022-close" aria-hidden="true"></i></button>
			</div>
			<div class="modal__body">
				<p>Do you really want to delete <strong id="deleteFilename">filename.tar.gz</strong> from S3?</p>
				<div class="button-group button-group--responsive">
					<button class="button button--responsive button--primary modal-close" onclick="triggerDelete();">Yes, delete it</button>
					<button class="button button--responsive button--secondary modal-cancel">No, never mind</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var lastState = "unknown";

var app = new Vue({
	el: '#app',
	delimiters: ['${', '}'],
	data: {
		files: []
	},
	created: function(){
		// load backups upon page load
		getBackups();
	}
})

function getBackups()
{
	// query backups
	fetch('/api/v1/backup/{{ .Service.Label }}/{{ .Service.Name }}', {
		method: 'GET',
		credentials: 'same-origin',
	})
	.then(function(response) {
		if (response.status != 200) {
			console.log('failed to retrieve backup:', response);
		}
		return response.json();
	})
	.then(function(data) {
		// sort to make sure the latest backup files are at the top
		data.Files.sort(function(a,b){
			return new Date(b.LastModified) - new Date(a.LastModified);
		});

		for (f in data.Files) {
			file = data.Files[f];
			file.Size = filesize(file.Size, {round: 0}); // human readable filesizes
			file.LastModified = moment(file.LastModified).fromNow(); // human readable relative time
			app.files.push(file);
		}
	})
	.catch(function(error) {
		console.error('error while retrieving backup:', error)
	})
	.then(function() {
		// check service state
		checkState();
	});
}

function triggerBackup()
{
	fetch('/api/v1/backup/{{ .Service.Label }}/{{ .Service.Name }}', {
		method: 'POST',
		credentials: 'same-origin',
	})
	.then(function(response) {
		if (response.status == 202) {
			console.log('backup triggered:', response);
			showNotification('{{ .Service.Name }} backup triggered ...', '');
			checkState();
		} else {
			console.log('failed to trigger backup:', response);
			showNotification('Triggering backup of {{ .Service.Name }} failed!', 'notification--alert');
		}
	});
}

function triggerRestore()
{
	var filename = document.getElementById("restoreFilename").innerHTML;

	fetch('/api/v1/restore/{{ .Service.Label }}/{{ .Service.Name }}/'+filename, {
		method: 'POST',
		credentials: 'same-origin',
	})
	.then(function(response) {
		if (response.status == 202) {
			console.log('restore triggered:', response);
			showNotification('{{ .Service.Name }} restore with '+filename+' triggered ...', '');
			checkState();
		} else {
			console.log('failed to trigger restore:', response);
			showNotification('Triggering restore of {{ .Service.Name }} failed!', 'notification--alert');
		}
	});
}

function triggerDelete()
{
	var filename = document.getElementById("deleteFilename").innerHTML;
	showNotification('Deleting '+filename+' ...', '');

	fetch('/api/v1/backup/{{ .Service.Label }}/{{ .Service.Name }}/'+filename, {
		method: 'DELETE',
		credentials: 'same-origin',
	})
	.then(function(response) {
		if (response.status == 204) {
			console.log('delete success:', response);
			setTimeout(function() {
				// remove from current listing
				for (f in app.files) {
					file = app.files[f];
					if (file.Filename == filename) {
						app.files.splice(f, 1);
					}
				}
			}, 3500);
		} else {
			console.log('failed to delete '+filename, response);
			showNotification('Deleting '+filename+' failed!', 'notification--alert');
		}
	});
}

function checkState()
{
	// query service state
	fetch('/api/v1/state/{{ .Service.Label }}/{{ .Service.Name }}', {
		method: 'GET',
		credentials: 'same-origin',
	})
	.then(function(response) {
		if (response.status != 200) {
			console.log('failed to retrieve service state:', response);
		}
		return response.json();
	})
	.then(function(state) {
		if (state.Status != lastState) {
			// backup/restore is already, don't allow triggering more operations for this service
			if (state.Status == "running") {
				document.getElementById("spinner").style.display = "block";
				document.getElementById("trigger").disabled = true;
				document.getElementById("trigger").classList.add("disabled");

				var restores = document.getElementsByClassName("restore-button");
				for (var i = 0; i < restores.length; i++) {
					restores[i].disabled = true;
					restores[i].classList.add("item--disabled");
				}

				// disable delete button if restore operation is ongoing
				if (state.Operation == "restore") {
					var deletes = document.getElementsByClassName("delete-button");
					for (var i = 0; i < deletes.length; i++) {
						deletes[i].disabled = true;
						deletes[i].classList.add("item--disabled");
					}
				}

				// check state again in 5s
				setTimeout(function() {
					checkState();
				}, 5000);

			// no backup/restore currently running, allow new operations for this service
			} else {
				document.getElementById("spinner").style.display = "none";
				document.getElementById("trigger").disabled = false;
				document.getElementById("trigger").classList.remove("disabled");

				var restores = document.getElementsByClassName("restore-button");
				for (var i = 0; i < restores.length; i++) {
					restores[i].disabled = false;
					restores[i].classList.remove("item--disabled");
				}
				var deletes = document.getElementsByClassName("delete-button");
				for (var i = 0; i < deletes.length; i++) {
					deletes[i].disabled = false;
					deletes[i].classList.remove("item--disabled");
				}
			}

			if (state.Status == "failure") {
				console.log('operation failed:', state);
				if (state.Operation == "backup") {
					showNotification('Backing up {{ .Service.Name }} failed!', 'notification--alert');
				} else {
					showNotification('Restoring {{ .Service.Name }} failed!', 'notification--alert');
				}
			}

			if (state.Status == "success") {
				console.log('operation success:', state);
				if (state.Operation == "backup") {
					showNotification('Successfully backed up {{ .Service.Name }}', 'notification--confirmation');
					// update backups after successful backup operation
					getBackups();
				} else {
					showNotification('Successfully restored {{ .Service.Name }}', 'notification--confirmation');
				}
			}
		}
		lastState = state.Status;
	})
	.catch(function(error) {
		console.error('error while service state:', error)

		// check state again in 5s
		setTimeout(function() {
			checkState();
		}, 5000);
	});
}

function showRestoreDialog(filename)
{
	document.getElementById("restoreFilename").innerHTML = filename;
	for (var i = 0; i < sdx.Modal.instances.length; i++) {
		if (sdx.Modal.instances[i].element.id == "restoreModalDialog") {
			sdx.Modal.instances[i].open();
		}
	}
}

function showDeleteDialog(filename)
{
	document.getElementById("deleteFilename").innerHTML = filename;
	for (var i = 0; i < sdx.Modal.instances.length; i++) {
		if (sdx.Modal.instances[i].element.id == "deleteModalDialog") {
			sdx.Modal.instances[i].open();
		}
	}
}

function showNotification(message, modifier)
{
	var callback = function() {
		//alert("Notification was clicked");
	};

	var cancelCallback = function() {
		//alert("Notification was cancelled");
	};

	// open the notification
	var notification = sdx.Notification.showOnHeader("header", message, callback, cancelCallback, modifier);

	// remove the notification
	setTimeout(function() {
		notification.close();
	}, 3000);
}
</script>

{{ template "_footer.html" . }}