:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}
:host > .item > .arrow {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
}

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60000;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
:host > .item > .body {
  position: relative;
  background-color: #fff;
  padding: 24px;
  transition: border-bottom 200ms cubic-bezier(0.4, 0, 0.6, 1), color 200ms cubic-bezier(0.4, 0, 0.6, 1);
}

:host(:not(:last-of-type)) > .item > .body {
  border-bottom: 1px solid #e4e9ec;
}

:host(.bottom-right) > .item > .arrow, :host(.bottom-left) > .item > .arrow {
  display: block;
  top: -7px;
  box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15);
}

:host(.top-right) > .item > .arrow, :host(.top-left) > .item > .arrow {
  display: block;
  bottom: -7px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
}