:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host .step-container {
  position: relative;
}

:host([position=first]) .progress-line-right, :host([position^=middle]) .progress-line-right {
  transition: all 200ms ease;
  width: 35%;
  height: 1px;
  position: absolute;
  top: 12px;
  right: 0;
}

:host([position=last]) .progress-line-left, :host([position^=middle]) .progress-line-left {
  transition: all 200ms ease;
  width: 35%;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 0;
}

:host {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
:host br.br-hide {
  visibility: hidden;
}
:host button {
  border: 1px solid #1781e3;
  color: #1781e3;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  outline: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  line-height: normal;
  font-family: inherit;
}
:host button, :host .progress-content {
  cursor: default;
  letter-spacing: normal;
  text-align: center;
  transition: all 150ms ease-in-out;
}
:host .progress-content {
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
  white-space: normal;
}
:host .button-container button {
  font-weight: 600;
  display: inline-flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

:host([status=active]) button {
  color: #fff;
  border-color: #1781e3;
  background-color: #1781e3;
}
:host([status=active]) button:hover {
  color: #fff;
  border-color: #0851da;
  background-color: #0851da;
}

:host([status=completed]) button, :host([status=completed]) .progress-content {
  cursor: pointer;
}
:host([status=completed]) button {
  color: #fff;
  border-color: #25b252;
  background-color: #25b252;
}
:host([status=completed]) button:hover {
  color: #fff;
  border-color: #008236;
  background-color: #008236;
}

/**
 * progress-line color
 */
:host .progress-line-left, :host .progress-line-right {
  background: #adadad;
}

:host([position=first]) .progress-line-left {
  background: none;
}

:host([position=last]) .progress-line-right {
  background: none;
}

:host([status=active]) .progress-line-left,
:host([status=completed]) .progress-line-left {
  background: #25b252;
}

:host([status=completed]) .progress-line-right {
  background: #25b252;
}