:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
:host > div .count {
  margin-right: 24px;
}
@media (max-width: 1279px) {
  :host > div {
    flex-flow: column;
  }
  :host > div .count {
    margin-bottom: 8px;
    margin-right: 0;
  }
}