@import "stylesheets/sdx/variables/colors";
@import "stylesheets/sdx/variables/sizes";

:host {
  display: block;
  position: relative;
}

:host(.loop) {
  >.wrapper {
    >.ribbon-container {
      position: absolute;
      overflow: hidden;
      top: -5px;

      .content {
        color: $color-white;
        background-color: $color-orchid;
        text-align: center;
        box-shadow: 0 -1px 3px $color-gray;
        position: absolute;
        width: calc(100% * 1.414); /* 100% * sqrt(2) - pythagoras */
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;

        &::before, &::after {
          content: "";
          position: absolute;
          bottom: -$ribbon-corner-size;
          border-left: $ribbon-corner-size solid transparent;
          border-right: $ribbon-corner-size solid transparent;
          border-top: $ribbon-corner-size solid $color-orchid--active;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }
    }
  }
}

:host(.small) {
  >.wrapper {
    >.slot {
      min-height: $ribbon-small-dimension;
    }
  }
}

:host(.normal) {
  >.wrapper {
    >.slot {
      min-height: $ribbon-regular-dimension;
    }
  }
}

:host(.large) {
  >.wrapper {
    >.slot {
      min-height: $ribbon-large-dimension;
    }
  }
}

:host(.loop.small) {
  >.wrapper {
    >.ribbon-container {
      font-size: $ribbon-font-small;
      width: $ribbon-small-dimension;
      height: $ribbon-small-dimension;
    }
  }
}

:host(.loop.normal) {
  >.wrapper {
    >.ribbon-container {
      font-size: $ribbon-font-normal;
      width: $ribbon-regular-dimension;
      height: $ribbon-regular-dimension;
    }
  }
}

:host(.loop.large) {
  >.wrapper {
    >.ribbon-container {
      font-size: $ribbon-font-large;
      width: $ribbon-large-dimension;
      height: $ribbon-large-dimension;
    }
  }
}

:host(.loop.left) {
  >.wrapper {
    >.ribbon-container {
      left: -5px;

      .content {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }
}

:host(.loop.right) {
  >.wrapper {
    >.ribbon-container {
      right: -5px;

      .content {
        top: -24px; /* 24px lineheight */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

:host(.bookmark) {
  >.wrapper {
    >.ribbon-container {
      position: absolute;
      top: 6px;
      min-width: 70px;
      background-color: $color-turquoise;
      color: $color-white;

      &::after {
        content: "";
        position: absolute;
        bottom: -$ribbon-badge-corner-size;
        border-top: $ribbon-badge-corner-size solid $color-turquoise--active;
      }
    }
  }
}

:host(.bookmark.right) {
  >.wrapper {
    >.ribbon-container {
      right: -$ribbon-badge-corner-size;

      &::after {
        right: 0;
        border-right: $ribbon-badge-corner-size solid transparent;
      }
    }
  }
}

:host(.bookmark.left) {
  >.wrapper {
    >.ribbon-container {
      left: -$ribbon-badge-corner-size;

      &::after {
        left: 0;
        border-left: $ribbon-badge-corner-size solid transparent;
      }
    }
  }
}

:host(.bookmark.small) {
  >.wrapper {
    >.ribbon-container {
      font-size: $ribbon-font-small;
      padding: $ribbon-badge-padding-v-small $ribbon-badge-padding-h $ribbon-badge-padding-v-small;
    }
  }
}

:host(.bookmark.normal) {
  >.wrapper {
    >.ribbon-container {
      font-size: $ribbon-font-normal;
      padding: $ribbon-badge-padding-v $ribbon-badge-padding-h $ribbon-badge-padding-v;
    }
  }
}

:host(.bookmark.large) {
  >.wrapper {
    >.ribbon-container {
      font-size: $ribbon-font-large;
      padding: $ribbon-badge-padding-v-large $ribbon-badge-padding-h $ribbon-badge-padding-v-large;
    }
  }
}
