@import "stylesheets/sdx/variables/global";
@import "stylesheets/sdx/variables/colors";
@import "stylesheets/sdx/variables/sizes";
@import "stylesheets/sdx/utilities/color";
@import "stylesheets/sdx/utilities/screenreaders";
@import "stylesheets/sdx/icons";

.icon {
  text-transform: none;
  text-decoration: none;
  text-rendering: auto;

  line-height: 1;

  font-family: "sdx-icons";
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-stretch: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Icon size styles
  // -------------------------

  &.s1 {
    font-size: 16px;
  }

  &.s2 {
    font-size: 24px;
  }

  &.s3 {
    font-size: 32px;
  }

  &.s4 {
    font-size: 40px;
  }

  &.s5 {
    font-size: 48px;
  }

  &.s6 {
    font-size: 56px;
  }
}
