:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60000;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  width: 254px;
}