@charset "UTF-8";
:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*doc
---
title: Screen Readers
name: 05-utilities-screenreaders-01
category: Dev Utilities - Screen Readers
---

<p>Hide an element to all devices except screen readers with <code>.sr-only</code>.
Combine <code>.sr-only</code> with <code>.sr-only-focusable</code> to show the element again when it’s focused (e.g. by a keyboard-only user).</p>

```htmlmixed_no_preview
<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
```

<p>Can also be used as a mixin.</p>

```css_no_preview
// Usage as a mixin
.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;
}
```

*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

:host {
  width: 100%;
}
:host .wrapper {
  display: flex;
  position: relative;
  width: 100%;
}
:host .wrapper > sdx-icon {
  position: absolute;
  right: 10px;
  top: 2px;
  padding: 10px;
  cursor: pointer;
}
:host .wrapper .input {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  height: 48px;
  padding: 0 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font: inherit;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  outline: none;
  background-color: #fff;
  width: 100%;
  color: #333;
  user-select: text;
  backface-visibility: hidden;
  appearance: none;
  display: flex;
  align-items: center;
}
:host .wrapper .input, :host .wrapper .input::placeholder {
  transition: 150ms all cubic-bezier(0.4, 0, 0.2, 1);
}
:host .wrapper .input::placeholder {
  opacity: 1;
  color: #bbb;
}
:host .wrapper .input[type=search] {
  -webkit-appearance: none;
}
:host .wrapper .input[type=search]::-webkit-search-cancel-button, :host .wrapper .input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:host .wrapper .input[type=search]::-ms-clear {
  display: none;
}
:host .wrapper .input:focus:not([readonly]) {
  border-color: #1781e3;
  color: #333;
}
:host .wrapper .input:focus:not([readonly])::placeholder {
  opacity: 0;
}