@import "stylesheets/sdx/variables/global";
@import "stylesheets/sdx/variables/colors";
@import "stylesheets/sdx/variables/sizes";
@import "stylesheets/sdx/variables/grid";
@import "stylesheets/sdx/mixins/mediaqueries";
@import "stylesheets/sdx/mixins/breakpoints";
@import "stylesheets/sdx/utilities/screenreaders";

:host {
  width: 100%;

  .wrapper {
    display: flex;
    position: relative;
    width: 100%;

    >sdx-icon {
      position: absolute;
      right: 10px;
      top: 2px;
      padding: 10px; // easier to click
      cursor: pointer;
    }

    .input {
      border: $border-width solid $color-input-normal-form;
      border-radius: $border-radius;
      height: $form-input-height;
      padding: 0 16px;
      line-height: 24px;
      letter-spacing: -.1px;
      font: inherit;
      font-size: 18px;
      font-weight: 300;
      position: relative;
      outline: none;
      background-color: $color-input-bg;
      width: 100%;
      color: $color-input-normal-text;
      user-select: text;
      backface-visibility: hidden;
      appearance: none;
      display: flex;
      align-items: center;

      // For IE11, ::placeholder does not seem to be an own individual element, it only
      // will make the selector stronger. Make sure this works cross browser:
      &, &::placeholder {
        transition: 150ms all $standard-easing;
      }

      &::placeholder {
        opacity: 1;
        color: $color-input-placeholder;
      }

      &[type="search"] {
        -webkit-appearance: none;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
          -webkit-appearance: none;
        }

        &::-ms-clear {
          display: none;
        }
      }

      &:focus:not([readonly]) {
        border-color: $color-input-selected-form;
        color: $color-input-selected-text;

        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
}
