@import "stylesheets/sdx/variables/global";
@import "stylesheets/sdx/variables/colors";
@import "../../arrow";

:host {
  display: block;

  >.item {
    >.body {
      position: relative;
      background-color: $color-white;
      color: $color-link;
      display: block;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      transition: border-bottom 200ms $button-easing, color 200ms $button-easing;
    }
  }
}

:host(.selectable) {
  >.item {
    >.body {
      cursor: pointer;
    }
  }
}

:host(:not(.selectable)) {
  >.item {
    >.body {
      cursor: not-allowed;
    }
  }
}

:host(.selectable:hover) {
  >.item {
    >.arrow,
    >.body {
      color: $color-white;
      background-color: $color-int-blue !important; // !important because :first-of-type otherwise wins
    }
  }
}

:host(.disabled) {
  >.item {
    >.body {
      color: $color-disabled;
    }
  }
}

:host(:not(:last-of-type)) {
  >.item {
    >.body {
      border-bottom: 1px solid $color-aluminum-tint-2;
    }
  }
}

:host(.bottom-right:first-of-type), :host(.bottom-left:first-of-type) {
  >.item {
    >.arrow {
      display: block;
      top: -($arrow-size / 2);
      box-shadow: -1px -1px 2px 0 rgba($color-black, .15);
    }
  }
}

:host(.top-right:last-of-type), :host(.top-left:last-of-type) {
  >.item {
    >.arrow {
      display: block;
      bottom: -($arrow-size / 2);
      box-shadow: 1px 1px 2px 0 rgba($color-black, .15);
    }
  }
}
