:host {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}
:host > .item > .arrow {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
}

:host {
  display: block;
}
:host > .item > .body {
  position: relative;
  background-color: #fff;
  color: #1781e3;
  display: block;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: border-bottom 200ms cubic-bezier(0.4, 0, 0.6, 1), color 200ms cubic-bezier(0.4, 0, 0.6, 1);
}

:host(.selectable) > .item > .body {
  cursor: pointer;
}

:host(:not(.selectable)) > .item > .body {
  cursor: not-allowed;
}

:host(.selectable:hover) > .item > .arrow,
:host(.selectable:hover) > .item > .body {
  color: #fff;
  background-color: #1781e3 !important;
}

:host(.disabled) > .item > .body {
  color: #d6d6d6;
}

:host(:not(:last-of-type)) > .item > .body {
  border-bottom: 1px solid #e4e9ec;
}

:host(.bottom-right:first-of-type) > .item > .arrow, :host(.bottom-left:first-of-type) > .item > .arrow {
  display: block;
  top: -7px;
  box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.15);
}

:host(.top-right:last-of-type) > .item > .arrow, :host(.top-left:last-of-type) > .item > .arrow {
  display: block;
  bottom: -7px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
}